@page
@model StartRazorPages.Areas.Admin.Pages.Users.IndexModel

@{ 
    ViewData["Title"] = "Users";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationUser)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
